[submodule "phoenix-eic-event-display"]
	path = phoenix-eic-event-display
	url = git@github.com:eic/phoenix-eic-event-display.git
	branch = master
[submodule "eic-gltf-exporter"]
	path = eic-gltf-exporter
	url = git@github.com:eic/root-to-gltf-exporter.git
	branch = master
[submodule "phoenix"]
	path = phoenix
	url = git@github.com:HSF/phoenix.git
	branch = master
[submodule "phoenix-gltf-exporter"]
	path = phoenix-gltf-exporter
	url = https://github.com/HSF/root_cern-To_gltf-Exporter
	branch = master
[submodule "root2cad"]
	path = root2cad
	url = git@github.com:eic/root2cad.git
	branch = master
[submodule "jsroot"]
	path = jsroot
	url = git@github.com:root-project/jsroot.git
	branch = master
[submodule "phoenix-react"]
	path = phoenix-react
	url = git@github.com:9inpachi/phoenix-react.git
	branch = master
[submodule "glTF-Sample-Viewer"]
	path = glTF-Sample-Viewer
	url = git@github.com:KhronosGroup/glTF-Sample-Viewer.git
